@media(max-width:500px)
{
    .btn{
        width: 100px;
        height: 25px;
        font-size: 10px;
        padding-top: 5px;
    }
}
@media(max-width:1000px){
    .hero{
        flex-direction: column;
    }
.content{
       flex-direction: column;
    width: 100%;
    }
    .img{
        width: 90%;
        flex-direction: column;
    } 
    .home1{
        flex-direction: column;
    }
    .content h1{
        width: 350px;
        padding-left: 80px;
    }
    .home4{
        flex-direction: column;
    }
    .home{
        flex-direction: column;
    }
    .home5{
        flex-direction: column;
    }
    .card5{
        flex-direction: column;
    }
    .email1{
        margin-left: 100px !important;
    }
    .footer1{
        flex-direction: column;
    }
} 
@media(max-width:800px){
    .content1 p{
        width: 200px;
    }
    .card3{
        margin-left: 50px !important;
    }
}

@media(max-width:750px){
    .content h2{
        width:100px ;
        padding-left: 10px;}
            .content p{
        width:100px ;
        padding-left: 10px;
    }
.img0{
    flex-direction: column;
}
    .email1{
        margin-left: 50px !important;
    }

}
@media(max-width:700px){
    .content h2{
        width:100px ;
        padding-left: 0px;
    }
        .content p{
        width:100px ;
        padding-left: 0px;
    }
}
