*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     font-family: "Roboto", sans-serif;
}
nav{
    max-width: 1400px;
min-height: 70px;
    background-color: #00000033;
        position: fixed;
    left: 0;
    right: 0;
z-index: 1 !important;
}
.logo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;flex-wrap: wrap;
    margin:0 auto;
    padding-top: 15px;
}
.tabs{
    display: flex;
    gap: 50px;
}
.tabs a{
    color: #000000;
    text-decoration: none;
}
.btn{
    border-radius: 0 !important;
}
 .home{
    max-width: 100vw;
    height: 100vh;
        display: flex;flex-wrap: wrap;
    justify-content: space-between;
align-items: center;
 }
 .hero{
    max-width: 1400px;
    min-height: 800px;
    display: flex;flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;padding-top: 150px;
 }
 .content{
    width: 50%;
    padding-left: 30px;
 }
 .content h2{
    font-weight: bold;
    width: 500px;
        font-size: 40px;

 }
 .content p{
    width: 500px;
 }
 .img{
    width: 50%;
 }
.input-group{
    height: 50px;
    width: 410px;
    border: 5px solid rgb(49, 74, 237);
}
.input-group .submit-btn{
    width: 151px;
    margin-left: 10px;
    border: none;
}
.email-input{
    width: 250px;
    border: none;

}
.para{
    padding-left: 160px !important;
    color: gray !important;
}
.img1{
    margin-left: 50px;
}
 .home1{
    max-width: 1400px;
    min-height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 300px;
    gap: 1em;
    overflow-x: hidden;
 }
 .home2 {
    width: 45%;
        display: inline-block;

 }
 .home2 img{
    width: 700px;
    height: 500px;
    display: inline-block;
 }
 .home3{
    width: 30%;
    display: inline-block;
    padding-left: 80px;
 }
.card{
max-width: 100vw;
min-height: 600px;
display: flex;
align-items: center;
padding-top: 40px;
    background-color: #EEF1F7 !important;
flex-wrap: wrap;
border: none;
}
.card p{
    width: 630px;
}


 .img0{
padding-left: 70px !important;
 }
.card1{
    width: 200px !important;
    justify-content:center !important;
    gap: 10px !important;
    overflow-x: hidden;
    background-color: #EEF1F7 !important;

}
.card2{
    width: 350px !important;
    justify-content:center !important;
    gap: 10px !important;
    overflow-x: hidden;
    background-color: aliceblue !important;
}
.card3{
    width: 500px !important;
    height: 300px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-left: 290px !important;

}
.home4{
max-width: 1400px;
min-height: 700px;
background-color: #000000;
color: white;
display: flex;
justify-content: center;
justify-items: center;
padding-top: 100px;
flex-wrap: wrap;
margin-top: 70px;
}
.content1 h1{
    width: 577px;
    height: 132px;
    font-weight: 900;
    font-style: 56px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.content1 p{
    padding-left: 120px !important;
    width: 800px;
}
.btn1{width: 197px;
    height: 50px !important;
    padding: 12px 16px 12px 16px;
    gap: 5px;
    border-radius: 3px;
    margin-top: 10px;
        margin-left: 120px !important;


}
.content1 img{
    display: inline-block;
    width: 200px;
    padding-top: 20px;
}
.home5{
    max-width: 1000px;
    min-height: 600px;
        display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #EEF1F7;
    margin: 150px auto 0 auto;

}
 .content2{
   width: 30%;
    margin: 0 auto;
    display: inline-block;
}
.content3{
    width: 30%;    display: inline-block;
margin: 0 auto;
}
.content4{
    width: 30%;    display: inline-block;

}
.log {
    padding-top: 10px;
}
.card4{
max-width: 100vw;
min-height: 500px;
display: flex;
align-items: center;
padding-top: 40px;
    background-color: #EEF1F7 !important;
flex-wrap: wrap;
border: none;
}
.col{
    width: 1400px !important;
    min-height: 500px !important;
    padding-top: 20px !important;
    margin-top: 90px !important;
}
.video{
    padding-top: 50px;
}
.video h1{padding-top: 80px !important;
}
.video p{
    width: 320px !important;
   padding-left: 20px !important;
   margin: 0 auto !important;
}
.video .coll{
    padding-top: 10px !important;
}
.sm-card{
    width: 250px !important;
    border: 1px solid rgb(245, 231, 231) !important;
    border-radius: 10px !important;
    padding: 20px !important;
    display: inline-block !important;
    font-size: 10px !important;
}
.sm-card p{
    width: 180px !important;
}
.sm-card .coll{
    width: 150px;
    height: 400px !important;
}
.sub{
    width: 200px;
    height: 60px;
    background-color: black;
    color: #EEF1F7;
    margin-bottom: 30px;
}
.email{
    width: 170px;
        height: 60px;
        padding-left: 50px;
        background-color: white;
    margin-bottom: 30px;

}

.faq-item {
    max-width: 1400px;
    /* margin: 10px; */
    font-family: sans-serif;
    border-radius: 5px;
}
.faq-item h1{
    align-items: center;
}
.faq-item p{
    width: 700px;

}
.question {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 0;
    cursor: pointer;
}
.question h3{
    font-weight: bolder;
}

/* Shuruat mein answer ko chhupa dein */
.answer {
    display: none; 
    padding: 10px;
    background-color: white;
    color: #555;
}

/* Jab faq-item par mouse jaye, toh answer dikhayein */
.faq-item:hover .answer {
    display: inline-block;
}

/* Hover par question ka color bhi badal sakte hain */
.faq-item:hover .question {
    background-color: #007bff;
    color: white;
}
#img{
    padding-left: 30px;
    padding-bottom: 20px;
}
.footer{
    max-width: 1400px !important;
    height: 700px !important;
    margin-top: 150px !important;
}
.footer h2{
    width:500px !important;
    font-weight: bolder !important;
    margin: 0 auto !important;
    padding-bottom: 40px !important;
}
.footer p{
    width: 500px !important;
}
.email1{
margin-left: 350px !important;
}
.footer1{
    width: 1400px;
    height: 400px;
    background-color: #000000;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4em;
}
.footer1 img{width: 150px;
    height: 100px;

}